<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<link>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html" />
		<meta  name="keywords" content=" 伯星教育首页" />
		<meta  name="description"  content="伯星教育首页" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/js/mf-pattern/mF_fancy.css">
		<link rel="stylesheet" href="/others/cui.css">
		<link rel="stylesheet" href="/others/new-style.css">
		<!-- <link rel="stylesheet" href="./others/new-lib.css"> -->
		<link rel="stylesheet" href="/others/new-less.css">
		<!-- <link rel="stylesheet" href="./others/all-ie-only.css"> -->
		<!-- <link rel="stylesheet" href="./others/all-ie-only.css"> -->
	</head>
	<body>
		<!--top部分-->
		<div id="top">
			<div class="top_content">
				<ul>
					<li>
						<a href="#" onclick="SetHome(window.location)">设为首页</a>											
					</li>
					<li>
						<a href="#" onclick="AddFavorite(window.location,window.title)">加入收藏</a>
					</li>
					<li>
						<a href="#">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!--wrap部分-->
		<div id="wrap">
			<!--logo部分-->
			<div class="logo">
				<div class="logo_left">
					<img src="/images/logo.jpg" alt="伯星教育"/>
				</div>
				<div class="logo_right">
					<img src="/images/tel.jpg" alt="服务热线"/>24小时服务热线:<span class="tel">123-456-7890</span>
				</div>
			</div>
			<!--nav部分-->
			<div class="nav">
				<div class="nav_bar">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="#">关于伯星</a></li>
						<li><a href="list.html">新闻动态</a></li>
						<li><a href="#">军转干部培训</a></li>
						<li><a href="#">公务员培训</a></li>
						<!-- <li><a href="#">人才招聘</a></li> -->
					</ul>
					<form method="post">
						<input type="text" name="search" class="search"> 
					</form>
				</div>
			</div>
			<!--add部分-->
			<div class="ad" id="picBox">
				<div class="loading"><img src="/images/loading.gif" alt="图片加载中" /></div>
				<div class="pic">
					<ul>
						<li><img src="/images/ad2.jpg"/></li>
						<li><img src="/images/ad3.jpg"/></li>
						<li><img src="/images/ad4.jpg"/></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- new -->
		<div class = "middle_new">
			<div id="bd" class="date">
				<div class="index-row1">
					<div class="wp">
						<div class="dwl-border">
							<h3 class="g-tit1 dwl-g-tit1"><a href="http://www.ncut.edu.cn/index/xxyw1.htm" style="color:#003D79; font:0.9em sans-serif;">机构要闻</a><a class="g-more" href="http://news.ncut.edu.cn/">进入新闻网</a></h3>
						</div>
						<div class="col-l">
							<ul class="m-lsit1">
								<li>
									<div class="con">
										<div class="pic"><a href="http://www.ncut.edu.cn/info/1084/6617.htm"><img src="/others/8D8B5AA58CC386E25032E7313EE_913C2190_365F8.jpg" alt="" width="583px" height="345px"></a>
										</div>
										<h4><a href="http://www.ncut.edu.cn/info/1084/6617.htm" target="_blank">第八届党员代表第二次全体会议胜利召开</a></h4>
										<h3>&nbsp;  2018年12月28日，第八届党员代表第二次全体会议在大礼堂隆重召开。全体党员以饱满的...<a href="http://www.ncut.edu.cn/info/1084/6617.htm" target="_blank">查看详情 》</a></h3>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-r">
							<ul class="m-list3 dwl-m-list3">
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6635.htm" target="_blank"><span class="dwl-row3-txt">北京伯星有为科技有限公司召开工程教育专业认证工作会<em class="g-new">new</em></span><span class="dwl-data">2019-01-07</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6637.htm" target="_blank"><span class="dwl-row3-txt">机构教师获科技部国家重点研发计划专项课题资助<em class="g-new">new</em></span><span class="dwl-data">2019-01-07</span></a>
								</li>
								<li>
									<a href="http://news.ncut.edu.cn/info/1096/8869.htm" target="_blank"><span class="dwl-row3-txt">《中国高等教育》杂志以封面图片形式展示伯星风采</span><span class="dwl-data">2019-01-04</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6626.htm" target="_blank"><span class="dwl-row3-txt">引智帮扶工作取得阶段性成果</span><span class="dwl-data">2019-01-04</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6621.htm" target="_blank"><span class="dwl-row3-txt">机构领导参加教育部工商管理类专业教指委会议</span><span class="dwl-data">2019-01-03</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6624.htm" target="_blank"><span class="dwl-row3-txt">教学工作审核评估总结会</span><span class="dwl-data">2019-01-03</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6602.htm" target="_blank"><span class="dwl-row3-txt">2018年度十大新闻</span><span class="dwl-data">2018-12-27</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6618.htm" target="_blank"><span class="dwl-row3-txt">庆祝改革开放40周年暨2019年教职工新年团拜会</span><span class="dwl-data">2018-12-29</span></a>
								</li>
								<li>
									<a href="http://www.ncut.edu.cn/info/1084/6615.htm" target="_blank"><span class="dwl-row3-txt">我校2019年硕士研究生招生考试初试工作顺利结束</span><span class="dwl-data">2018-12-29</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- end -->
		<div id="footer">
			<div class="footer_content">
				<ul>
					<li><a href="#">关于</a>
						<ul>
							<li><a href="#">品牌故事</a></li>
							<li><a href="#">联系我们</a></li>
							<li><a href="#">加入我们</a></li>
							<li><a href="#">版权声明</a></li>
						</ul>
					</li>
					<li><a href="#">课程</a>
						<ul>
							<li><a href="#">PHP开发</a></li>
							<li><a href="#">前端开发</a></li>
							<li><a href="#">JAVA开发</a></li>
							<li><a href="#">Android开发</a></li>
						</ul>
					</li>
					<li><a href="#">关注</a>
						<ul>
							<li><a href="#">新浪微博</a></li>
							<li><a href="#">腾讯微博</a></li>
							<li><a href="#">企业微信</a></li>
							<li><a href="#">QQ空间</a></li>
						</ul>
					</li>
					<li><a href="#">留言</a>
						<ul>
							<li><a href="#">意见反馈</a></li>
							<li><a href="#">问题留言</a></li>
							<li><a href="#">媒体联络</a></li>
							<li><a href="#">在线客服</a></li>
						</ul>
					</li>
					<li><a href="#"><img src="/images/weixin.png" />微信关注</a>
						<ul>
							<li><img src="/images/qrcode.jpg" /></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	<script src="/js/setHomeSetFav.js" charset="gb2312"></script>
	<script src="/js/myfocus-2.0.1.min.js"></script>
	<script src="/js/mf-pattern/mF_fancy.js"></script>
	<script>
		myFocus.set({
			 id:'picBox',
			 pattern:'mF_fancy'
			});
	</script>
	</body>
</html>
